# Python
__pycache__/
*.pyc

# virtual env
.venv/
venv/

# environment variables
.env

# exports
exports/

# database
*.db

# IDE
.vscode/
.idea/

__pycache__/
*.pyc
.venv/
venv/
.env
config.py
exports/
*.db
.vscode/
.idea/config.py
